@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
    background-color: black;
}

*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

header, section{
    padding: 30px 80px;
}

img{
    width: 50%;
}

hr{
    border-color: grey;
}

/*HEADER*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/fondo_header.jpg");
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 90px;
    margin: 0;
    margin-left: 20%;
}

h1 span{
    margin-left: 5%;
}

/*Primera Sección*/
#empresa{
    display: flex;
    text-align: center;
}

#empresa div:first-of-type{
    width: 40%;
}

#empresa img{
    width: 100%;
}

#empresa div:last-of-type{
    margin: auto;
    margin-right: 0;
    width: 50%;
}

#empresa button{
    background-color: grey;
    cursor: pointer;
    width: 30%;
    height: 30px;
    border-radius: 5px;
}

#empresa button:hover{
    background-color: rgb(100, 100, 100);
    box-shadow: 0px 0px 10px white;
}

/*SEGUNDA SECCION*/
#servicios{
    display: flex;
    text-align: center;
}

#servicios div:first-of-type{
    width: 70%;
}

#servicios img{
    width: 100%;
}

#margen{
    margin: auto;
    display: flex;
}

#servicios ul{
    list-style: none;
    text-align: start;
}

#servicios span{
    font-size: 50px;
}

.letras_servicios{
    font-size: 30px;
}

/*TERCERA SECCION*/
#clientes{
    background-color: white;
}

#clientes h2, #clientes p{
    color: black;
}

#clientes div:last-of-type{
    text-align: center;
    background-color: white;
}

#clientes img{
    width: 25%;
    margin: 20px;
    border-radius: 360px;
}

/*CUARTA SECCION*/
#frase{
    text-align: center;
}

#frase div{
    display: flex;
}

/*QUINTA SECCION*/
#precios{
    background-color: white;
    text-align: center;
}

#precios h2, #precios th,td{
    color: black;
    margin: 0 auto;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }

/*FOOTER*/
footer{
    text-align: center;
}